* { 
	box-sizing: border-box; 
}

body {
	position: relative;
	border-top: 6px solid var(--first-color);
	background: var(--fourth-color) url('../img/bg.png');
	font-size: var(--normal);
	font-family: var(--body-family);
	color: var(--first-color); 
	line-height: var(--line-height);
}

a {
	border-bottom: 1px solid var(--second-color);
	color: var(--first-color);
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid var(--first-color);
}

p {
	margin: var(--vertical-margin) 0;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-family: var(--display-family);
	letter-spacing: .1em;
	color: var(--first-color);
	text-align: center;
	text-transform: uppercase;
}

h1 {
	font-size: var(--huge);
	@media screen and (max-width: 480px) {
		font-size: var(--big);
	}
}

h3 {
	font-size: var(--big);
	@media screen and (max-width: 480px) {
		font-size: var(--large);
	}
}

time {
	color: lighten(var(--first-color), 20%);
}

em {
	font-style: italic;
}
