<div id="footer-wrapper">
    <footer class="footer">
        <div class="widget"> 
            <h2>Postadres</h2>
            <ul>
                <li>15 Chemin du Carrouge</li>
                <li>Les Diolots</li>
                <li>58120 Château-Chinon (Campagne)</li>
                <li>France</li>
            </ul>
        </div>
        <div class="widget">
            <h2>Contact</h2>
            <ul>
                <li>E-mail: <a href="mailto:stef@baardbaard.nl">stef@baardbaard.nl</a></li>
                <li>Telefoon: +33 (0) 6 8121 6559</li>
            </ul>	
        </div>
        <div class="widget">
            <h2>Administratie</h2>
            <ul>
                <li>Siret: 81448255000013</li>
                <li>Bank: NL47 ASNB 0708 3314 67</li>
                <li>TVA: FR08814482550</li>
            </ul>
        </div> <!-- div.widget -->
        <p id="copyright"><a href="http://creativecommons.org/licenses/by-nc-nd/3.0/" target="_blank">Alles hier &copy; Creative Commons</a> | <a href="https://github.com/baardbaard/baardbaard.github.io" target="_blank">Source staat op Github</a></p>
    </footer>
</div> <!-- div#footer-wrapper -->
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-22293720-1']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
<script src="/app.js"></script>
</body>
</html>
