<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}" class="no-js"> 
    <head> 
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>{{ $.Site.Title }}</title> 
        <link rel="stylesheet" type="text/css" href="css/main.css" /> 
        <script src="_/js/modernizr-2.5.3.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script> 
        <script>
            var _prum = [['id', '520b3969abe53da55c000000'],
                ['mark', 'firstbyte', (new Date()).getTime()]];
            (function() {
                var s = document.getElementsByTagName('script')[0]
                    , p = document.createElement('script');
                p.async = 'async';
                p.src = '//rum-static.pingdom.net/prum.min.js';
                s.parentNode.insertBefore(p, s);
            })();
        </script>
    </head> 
    <body>
