<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}" class="no-js"> 
    <head> 
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>{{ $.Site.Title }}</title> 
        <link rel="stylesheet" type="text/css" href="/css/main.css" /> 
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-22293720-1"></script>
        <script>
             window.dataLayer = window.dataLayer || [];
             function gtag(){dataLayer.push(arguments);}
             gtag('js', new Date());
             gtag('config', 'UA-22293720-1');
        </script>
    </head> 
    <body>
        <div class="cta">
            <div>Mail: <a href="stef@baardbaard.nl">stef@baardbaard.nl</a></div>
            <div>Tel: +33 (0) 6 8121 6559</div>
        </div>
        <main>
            {{ block "main" . }}{{ end }}
        </main>
        <div id="footer-wrapper">
            <footer class="footer ">
                <div class="l-wrapper c-grid c-grid--thirds">
                    <div class="widget"> 
                        <h2>Postadres</h2>
                        <ul>
                            <li>4 Frétoy</li>
                            <li>71550 Cussy-en-Morvan</li>
                            <li>France</li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h2>Contact</h2>
                        <ul>
                            <li>E-mail: <a href="mailto:stef@baardbaard.nl">stef@baardbaard.nl</a></li>
                            <li>Telefoon: +33 (0) 6 8121 6559</li>
                        </ul>	
                    </div>
                    <div class="widget">
                        <h2>Administratie</h2>
                        <ul>
                            <li>Siret: 81448255000013</li>
                            <li>Bank: NL47 ASNB 0708 3314 67</li>
                            <li>TVA: FR08814482550</li>
                        </ul>
                    </div> <!-- div.widget -->
                </div>
                <p id="copyright"><a href="http://creativecommons.org/licenses/by-nc-nd/3.0/" target="_blank">Alles hier &copy; Creative Commons</a> | <a href="https://github.com/baardbaard/baardbaard.github.io" target="_blank">Source staat op Github</a></p>
            </footer>
        </div> <!-- div#footer-wrapper -->
        <script src="/app.js"></script>
    </body>
</html>
