.footer {
	max-width: 768px;
	margin: $vertical-margin * .5 auto;
	font-size: $smaller;
	font-family: $footer-family;
	color: $third-color;

	h2 {
		margin-top: $vertical-margin;
		font-size: $normal;
		letter-spacing: .2em;
		color: $third-color;
		text-align: left;
	}

	ul {
		padding-left: 0;
	}

	li {
		margin-left: none;
		list-style-type: none;
	}	

	a {
		border-bottom: 0;
		font-weight: normal;
		color: $third-color;

		&:hover {
			border-bottom: 1px solid $third-color;
		}
	}

	.widget {
		@include grid(16, 1);
	}

	@media screen and (max-width: 480px) {
		footer {
			text-align: center;

			h2 {
				text-align: center;
			}

			.widget {
				width: 100%;
				margin-left: 0 !important;
			}
		}
	}
}
