.footer {
    margin: calc(var(--vertical-margin) * .5) auto;
    margin-bottom: 0;
    font-size: var(--smaller);
    font-family: var(--footer-family);
    color: var(--third-color);
}

.footer h2 {
    margin-top: var(--vertical-margin);
    font-size: var(--normal);
    letter-spacing: .2em;
    color: var(--third-color);
    text-align: left;
     
    @media screen and (max-width: 480px) {
        text-align: center;
    }
}

.footer	ul {
    padding-left: 0;
}

.footer li {
    margin-left: none;
    list-style-type: none;
}	

.footer a {
    border-bottom: 0;
    font-weight: normal;
    color: var(--third-color);
}

.footer a:hover {
    border-bottom: 1px solid var(--third-color);
}

@media screen and (max-width: 480px) {
    footer {
        text-align: center;
    }

    footer h2 {
        text-align: center;
    }

    .widget {
        width: 100%;
        margin-left: 0 !important;
    }
}
