.header {
    padding-top: 2em;
}

.header__title {
    margin: 0;
}

.header__subtitle {
    text-align: center;
}

.header__subtitle p {
    margin: 0 !important;
}

.header__logo {
    margin: 0 auto;
    display: block !important;
}
