#header-home {
    max-width: 728px;
    padding: 0 3%;
    margin: $vertical-margin auto;
}

#header-home img {
    display: block;
    margin: 0 auto;
}

#header-home a {
    border-bottom: none;
}

#header-home a:hover {
    border-bottom: none;
}
