.header {
	background: url('../img/foto_stef.jpg') no-repeat center center fixed;
    height: 900px;
    background-size: cover;

    @media screen and (max-width: 480px) {
        height: 620px;
    }
}

.header__title {
    margin: 0;
}
