header p {
    text-align: center;
    margin: 0;
}

header p a {
    font-weight: normal;
}

.icons-baardbaard {
    width: 102px; 
    height: 128px; 
    margin: 0 auto;
    &:hover { 
        background-position: -102px 0;
    }
}

.icons-analyze {
    width: 103px;
}

.icons-build {
    height: 113px; 
    width: 87px;
    margin-top: -17px;
}

.icons-service {
    width: 134px; 
}

.icons-twitter,
.icons-linkedin,
.icons-github,
.icons-rss {
    height: 32px;
    width: 32px;
    margin-right: 10px;
    border-bottom: none;
    color: var(--third-color);
    display: inline-block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.icons-twitter:hover,
.icons-linkedin:hover,
.icons-github:hover,
.icons-rss:hover { 
    border-bottom: none;
}

footer #social-icons li {
    display: inline; 
} 

#about img {
    float: right;
    padding-left: 2em;
    padding-bottom: 2em;
}

@media screen and (max-width: 480px) {
    #about figure {
        height: 221px;
        margin-bottom: var(--vertical-margin);
    }

    #about img {
        position: absolute;
        left: 50%;
        width: 213px;
        margin-left: -106px;
        padding-left: 0;
        padding-bottom: 0;
    }

    #about p {
        clear: left;
    }
}

#social p {
    margin: 0; 
}

#contact-data {
    margin-left: 0;
}

#social-icons {
    margin-bottom: var(--vertical-margin);
    margin-top: var(--vertical-margin);
}

#mailchimp {
    clear: left;
    float: left;
    margin-bottom: var(--vertical-margin) * 1.5; 
}

#copyright {
    margin-bottom: 0;
    display: block;
    padding-bottom: 3rem;
    text-align: center;
}

#copyright a {
    color: darken(var(--third-color), 40%); 
}

#features .c-grid-item {
	margin-top: 0;
}
