{{ define "main" }}
<header class="header"></header>

<section id="about" class="l-wrapper l-wrapper-wide l-content l-content-page">
    <h2 class="division">Stef Thoen</h2>
    <p>Ik ben een freelance front-end developer met een achtergrond in Informatica en Filosofie. Ik houd van toegankelijke websites die heel snel zijn.</p>
</section>

<section id="service" class="l-wrapper l-content l-content-page">
    <h2 class="division">Wat doe ik?</h2>
    <div id="features" class="c-grid c-grid--thirds">
        <article class="feature c-grid-item">
            <i class="icon feature__icon svg-feature_design svg-feature_design-dims">Design</i>
            <h3>Het ontwerp</h3>
            <p>Ik onderzoek, schets en bouw prototypes. Ik zorg voor een overzichtelijk en doeltreffend ontwerp, een website waar bezoekers graag naar terugkomen.</p>
        </article>
        <article class="feature c-grid-item">
            <i class="icon feature__icon svg-feature_build svg-feature_build-dims">Bouw</i>
            <h3>De bouw</h3>
            <p>Responsive websites en webapps gebouwd met een sterke focus op performance. Razendsnel waardoor je bezoeker snel vindt wat hij zoekt.</p>
        </article>
        <article class="feature c-grid-item">
            <i class="icon feature__icon svg-feature_service svg-feature_service-dims">Service</i>
            <h3>De service</h3>
            <p>Na oplevering voer ik onderhoud uit, host ik je website, installeer updates en 'tweak' de website voor optimale veiligheid en conversie.</p>
        </article>
    </div>
</section>

<section id="portfolio" class="l-wrapper l-content l-content-page">
    <h2 class="division">Wat maak ik?</h2>
    <p>Ik bouw responsive websites op maat. Dit gaat van een simpele one-page tot complete webshops. HTML, CSS en JavaScript kennen voor mij geen geheimen. WordPress is mijn CMS naar keuze, maar ik heb ervaring met een boel andere back-end talen en frameworks.</p> 
    <p>Hieronder volgt een greep uit mijn meest recente werk. Wil je meer zien <a href="mailto:stef@baardbaard.nl">neem dan contact op</a>.

    {{ range .Data.Pages }}
        {{ .Render "summary" }}
    {{ end }}
</section>

<section id="contact" class="l-wrapper l-content l-content-page">
    <h2 class="division">Waar kan ik je mee helpen?</h2>
    <p>Denk je dat ik je ergens bij kan helpen? Of je nu een simpele website nodig hebt, of je een creatief communicatiebureau hebt en een vaste dev'er nodig hebt om je designs te bouwen: Stuur mij een e-mail op <a href="mailto:stef@baardbaard.nl">stef@baardbaard.nl</a>. Bellen kan natuurlijk ook: +33 (0) 6 8121 6559.</p>
</section>
{{ end }}
