.byline {
	width: 700px;
	margin-left: -350px;
	position: absolute;
	top: 74%;
	left: 50%;
	font-size: $small;
	letter-spacing: .1em;
	color: $third-color;
	text-align: center;
	text-transform: uppercase;
}
