.cta {
    position: fixed;
    right: 0;
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--first-color);
    color: var(--second-color);
    font-size: var(--small);
}

.cta a {
    color: var(--second-color);
}

.cta a:hover {
    color: var(--fourth-color);
    border-bottom: 1px solid var(--fourth-color);
}
