.feature {
    /* @include grid(16, 1); */

    @media screen and (max-width: 480px) {
        /* @include grid(48, 1); */
        margin-top: var(--vertical-margin) / 2;
    }
}

.feature__icon {
    margin: 0 auto;
    display: block !important;
}

.feature h3 {
    margin-top: var(--vertical-margin) / 2;
    margin-bottom: 0;
    font-size: var(--large);
}

.feature p {

    margin-top: 0;
    @media screen and (max-width: 480px) {
        text-align: center;
    }
}
