.site {
    margin-bottom: var(--vertical-margin);
    overflow: auto;
}

.site:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 480px) {
    .site {
        margin-bottom: 0;
    }

    .site p {
        font-size: var(--small);
    }
}
